* {
margin:0;
padding:0;
}
body {
  background-color: black;
}
#kirby {
	border: 1px solid black;
	background: rgba(51, 170, 51, .1);
	position: absolute;
	border-radius: 30px;
	top: 331px;
	left: 627px;
}
#bowser {
	border: 1px solid black;
	background: rgba(51, 170, 51, .1);
	position: absolute;
	border-radius: 30px;
	top: 195px;
	left: 185px
}
#pokemonRed {
	border: 1px solid black;
	background: rgba(51, 170, 51, .1);
	position: absolute;
	border-radius: 30px;
	top: 174px;
	left: 566px;
}
#imageDiv {
  text-align: center;
}
#image {
  width: 780px;
  border-radius: 30px;
	margin-top: 70px;
}
#tag {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  background: rgba(51, 170, 51, .1);
}
#dropdown {
  width: 120px;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
}
#dropdown ul {
  padding: 10px;
  margin: 0;
  list-style-type: none;
  color: white;
}
#targetBox {
  position: absolute;
  display: flex;
}
.hide {
  visibility: hidden;
}
.dropdownImage {
  width: 50px;
}
.dropdownDivs {
  display: flex;
  align-items: center;
}
.crossOut {
	color: red;
}
